name: Build and Deploy Code

on: [push, pull_request]

jobs:
    job1:
        env:
            DB_HOST: localhost
            DB_PORT: 5432
            DB_UNAME: postgres
            DB_PASS: ${{secrets.DB_PASS}}
            DB_NAME: fastapi
            SECRET_KEY: ec62eb0c2e71708513d4e9fc7cb44d022ae629bc60c2aa931d9b4c76133001bd
            ALGORITHM: HS256
            ACCESS_TOKEN_EXPIRE_MINUTES: 30
        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_PASSWORD: ${{secrets.DB_PASS}}
                ports:
                    - 5432:5432
                options: "--health-cmd=pg_isready -U postgres --health-interval=10s --health-timeout=5s --health-retries=5"
                # Set health checks to wait until postgres has started
                # options: >-
                #     -- health-cmd="pg_isready -u postgres"
                #     -- health-interval 10s
                #     -- health-timeout 5s
                #     -- health-retries 5
        runs-on: ubuntu-latest
        # steps:
        #     - name: pulling git repo
        #       uses: actions/checkout@v5
        #     - name: Install python version 3.14
        #       uses: actions/setup-python@v6
        #       with:
        #         python-version: "3.14"
        #     - name: update pip
        #       run: python -m pip install --upgrade pip
        #     - name: installing all dependencies
        #       run: python -m pip install -r requirements.txt
        #     - name: test with pytest
        #       run: |
        #         pip install pytest
        #         pytest
        steps:
            - name: checkout the repository 
              uses: actions/checkout@main
            - name: Install the default version of uv
              id: setup-uv
              uses: astral-sh/setup-uv@v7
            - name: Install Python 3.14
              run: uv python install 3.14
            - name: install dependencies
              run: uv sync --no-dev
            - name: run tests
              run: uv run pytest
    